.main {
    margin-top: 160px;
}

.fonte-titulo {
    font-family: 'Signika', sans-serif;
}

.cor-especial {
    color:#419a1c;
}

.bg-especial {
    background-color: #419a1c;
    color:white;
}

.footer-cor {
    background-color: #f8f9fa;
}

@media (max-width: 850px) {

    .resp {
        flex-direction: column;
        
    }
}